                     /*--------*/
                     /* Cuerpo */
                     /*--------*/
                       body{
                 background: url(mar2.jpg);
            background-size: 200%;
                           }  
                  /*------------*/
                  /* Encabezado */
                  /*------------*/
                      .logo{
                      width: 200px;
                     height: 80px;
              border-radius: 40px;
                           }
                          


                    .marque{
                      width: 10px;
                     height: 10px;
           background-color: red;
              border-radius: 50px;
        animation-direction: alternate; 
             animation-name: caminar_marque;
         animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0)
                           }

  @keyframes caminar_marque{
                       100%{margin-left: 100%;}
                           }

             

                     .ligas{
                    display: inline;
                  font-size: 20px;
                font-weight: bold;
                margin-left: -100px;
                           }

                    .ligas1{
                   position: fixed;
                      width: 50px;
                     height: 200px;
                     border: 3px solid red;
              border-radius: 30px;
                       left: -90px;
                        top: 300px;
           background-color: black;
        transition-property: left, top;
        transition-duration: 2s, 2s;
                           }
                
                .ligas1 img{width: 30px;}
                        .fb{margin-top: -5px;}
                     .insta{margin-top: 15px;}
                      .mail{margin-top: 15px;}
                        .ws{margin-top: 15px;}
    
     .ligas:hover > .ligas1{left: 100px; top: 130px;}



                       .ws1{
                      width: 150px;
                     height: 100px;
                      color: white;
           background-color: black;
                     border: 3px solid red;
              border-radius: 40px;
                 text-align: center;
                margin-left: 200px;
                 margin-top: 500px;
        transition-property: margin-left, margin-top;
        transition-duration: 2s, 2s;
                           }

           .ws:hover > .ws1{margin-left: 0px; margin-top: 20px;}



                      .menu{
                    display: inline;
                   position: fixed;
                        top: 100px;
                  font-size: 20px;
                font-weight: bold;
                margin-left: 30px;
                           }
                
                     .menu1{
                      width: 180px;
                     height: 260px;
                     border: 3px solid red;
              border-radius: 30px;
                 text-align: center;
                  font-size: 17px;
                margin-left: -500px;
                 margin-top: -400px;
           background-color: black;
                      color: white;
        transition-property: margin-left, margin-top;
        transition-duration: 2s, 2s;
                           }

                        .qs{margin-top: 15px;}
                         .s{margin-top: 10px;}
                        .de{margin-top: 10px;}
                         .p{margin-top: 10px;}
                         .r{margin-top: 10px;}
                         .c{margin-top: 10px;}
                       .pro{margin-top: 10px;}
                         .a{margin-top: 10px;}

       .menu:hover > .menu1{margin-left: -100px; margin-top: 5px;}



                  /*---------------*/
                  /* Donde Estamos */
                  /*---------------*/
                       .de1{
                   position: fixed;
                       left: 700px;
                        top: 1000px;
        transition-property: left, top;
        transition-duration: 2s, 2s;
                           }

                      .mapa{
                      width: 300px;
                     height: 400px;
              border-radius: 40px;
                     border: 3px solid red;
                           }

           .de:hover > .de1{
                       left: 30px;
                        top: 230px;
                           }



         

                 /*-----------------*/
                 /* Paneo de Imagen */
                 /*-----------------*/
                   .panora1{
                 margin-top: 10px;
                      width: 300px;
                     height: 400px;
                           }

                   .panora2{
                      width: 100%;
                     height: 100%;
                     border: 5px solid blue;
              border-radius: 50px;
                 object-fit: cover;
            object-position: left;
        transition-property: object-position ;
        transition-duration: 4s;
        animation-direction: alternate; 
             animation-name: caminar_panora;
         animation-duration: 4s;
  animation-iteration-count: 2;
  animation-timing-function: cubic-bezier(0.0, 0.0, 1.0, 1.0);
                           }

  @keyframes caminar_panora{
                       100%{object-position: right;}
                           }

         .panora1 img:hover{object-position: right;}   

                     .fecha{
                 margin-top: 20px;
                font-weight: bold;
                           }       



                   /*-----------*/
                   /* Servicios */
                   /*-----------*/
                       .se1{
           background-color: gray;
                    display: grid;
                   position: fixed;
      grid-template-columns: repeat(4, 250px);
            grid-column-gap: 25px;
                     height: 274px;
                      width: 274px;
                       left: 700px;
                        top: 1000px;
        transition-property: left, top;
        transition-duration: 2s, 2s;
                     border: 5px solid blue;
                   overflow: auto;
              border-radius: 50px;
                           }

                     .se2{
                     border: 3px solid lightblue;
                      width: 250px;
                     height: 250px;
                     margin: 10px;
              border-radius: 50px;
                           }

            .s:hover > .se1{
                       left: 30px;
                        top: 195px;
                           }







         

        
              /*-----------------------*/
              /* Ajuste a Dispositivos */
              /*-----------------------*/
         @media screen and (min-width: 710px) /*Celular Acostado*/ 
                           { body{display: none;}                                      
                   /*  .titu1{font-size:30px;}
                     .titu2{width: 130px;}
                   .marque1{animation-duration: 3s;}
                    .inicio{width: 440px;height: 240px;}
                        .qs{margin-left: 5%;}
                        .ns{margin-left: 5%;}
                        .de{margin-left: 5%;}
                        .co{margin-left: 5%;}*/
                           }


         @media screen and (min-width: 720px) /*Tableta Parada*/
                           {                                         
                       body{display: block;
                 background: url(mar1.jpg);
            background-size: 130%;
                           } 

                     .titu1{font-size:40px;}
                     .titu2{width: 160px;height: 100px;}
                   .marque1{animation-duration: 3s;}
                    .inicio{width: 500px;height: 570px;}
                        .qs{font-size: 18px; margin-left: 5%;}
                        .ns{font-size: 18px;margin-left: 5%;}
                        .de{font-size: 18px;margin-left: 5%;}
                        .co{font-size: 18px;margin-left: 5%;}
                           }


         @media screen and (min-width: 1000px) /*Tableta Acostada*/
                           {                                         
                     .titu1{font-size:40px;}
                     .titu2{width: 160px;height: 100px;}
                   .marque1{animation-duration: 3s;}
                    .inicio{width: 700px;height: 450px;}
                        .qs{font-size: 18px; margin-left: 5%;}
                        .ns{font-size: 18px;margin-left: 5%;}
                        .de{font-size: 18px;margin-left: 5%;}
                        .co{font-size: 18px;margin-left: 5%;}
                           }


         @media screen and (min-width: 1100px) /*Lap y Escritorio*/
                           {
                       body{
                 background: url(trailer.jpg);
            background-size: 100%;
                           } 

                     .titu2{width: 180px;height: 100px;}
                   .marque1{animation-duration: 5s;background-color: darkred;}
                    .inicio{width: 600px;height: 300px;}
                   .inicio1{border-radius: 130px;}
                     .fecha{color: black;}
                        .qs{color: white;background: red;font-size: 15px;}
                        .ns{color: white;background: red;font-size: 15px;}
                        .de{color: white;background: red;font-size: 15px;}
                        .co{color: white;background: red;font-size: 15px;}
                           }


         @media screen and (min-width: 1700px) /*Pantallas*/
                           {
                     .titu2{width: 200px;height: 120px;}
                   .marque1{animation-duration: 5s;background-color: darkred;}
                    .inicio{width: 700px;height: 500px;}
                   .inicio1{border-radius: 130px;}
                     .fecha{color: black;}
                        .qs{color: white;background: red;font-size: 15px;}
                        .ns{color: white;background: red;font-size: 15px;}
                        .de{color: white;background: red;font-size: 15px;}
                        .co{color: white;background: red;font-size: 15px;}
                           }    